history/**/*.json
utils/global_presets/**/*.json
*.ini
*.pyc
/pics
/utils/config.ini
*.json
/background.jpg
/audio
background.jpg
/core/tool_call/function_lib
*.log
/data/pics
/tests
/plans
/doc
/ref
