history/**/*.json
*.ini
*.pyc
config.ini
/pics
/utils/config.ini
/utils/config.ini
*.json
/background.jpg
/audio
utils/system_prompt_presets/当前对话.json
background.jpg
utils/config.ini
utils/global_presets/MODEL_MAP.json
